@page
@model _1473_VTKNgoc_Buoi3.Areas.Identity.Pages.Account.LogoutModel

@{
    ViewData["Title"] = "Đăng xuất";
}

<div class="container mt-5">

    <h2>Đăng xuất</h2>

    <form method="post">
        <button type="submit" class="btn btn-danger">
            Đăng xuất
        </button>
    </form>

</div>